.form-wrapper {
  height: 100vh;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: #f3f3f3;
}
.formContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  inset: 0;
  width: 33rem;
  aspect-ratio: 1/1;
  position: fixed;
  margin: auto;
}

.formContainer h2 {
  color: #6154ca;
  font-size: 2.4rem;
}
