

#formContainer {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .textarea {
    border: 0.5px solid #d5cdc0;
    border-radius: 9px;
    box-shadow: 7px 3px 10px 2px #baafaf;
  }
  
  #formContainer input,
  .textarea {
    width: -webkit-fill-available;
  }
  
  .form {
    font-size: 1.5rem;
  }
  .form input {
    font-size: 1.5rem;
  }
  
  .form textarea {
    font-size: 1.3rem;
  }
  
  
  